@import 'variables';
@import 'responsive';

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  font-size: 10px;

  @include respond(desktop) {
    font-size: 9px;
  }

  @include respond(tab-land) {
    font-size: 8px;
  }

  @include respond(tab-port) {
    font-size: 7px;
  }

  @include respond(phone) {
    font-size: 6px;
  }
}

body {
  background-color: white;
  font-family: 'Playfair Display';
  overflow-x: hidden;
}

.fadeIn {
  -webkit-animation: fadeIn 3s; /* Safari 4+ */
  -moz-animation: fadeIn 3s; /* Fx 5+ */
  -o-animation: fadeIn 3s; /* Opera 12+ */
  animation: fadeIn 3s; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes nav__in {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    background: rgba(0, 0, 0, 1);
  }
}

@-moz-keyframes nav__in {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    background: rgba(0, 0, 0, 1);
  }
}

@-o-keyframes nav__in {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    background: rgba(0, 0, 0, 1);
  }
}

@keyframes nav__in {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    background: rgba(0, 0, 0, 1);
  }
}
.scroll__header.alt {
  padding: 1rem 0;
  display: none;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
  -webkit-animation: nav__in 2s;
  -moz-animation: nav__in 2s;
  -o-animation: nav__in 2s;
  animation: nav__in 2s;
  background: rgba(0, 0, 0, 1);
}

a,
a:link,
a:visited,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

.scroll__header.alt {
  @include respond(phone) {
    display: none !important;
  }
}
