.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 5rem 0;

  h4 {
    display: inline-block;
    margin: 0;
    font-size: 2rem;
  }
  p {
    font-size: 1rem;
    margin-top: 4rem;
  }
}
