@import 'variables';

.menu {
  padding: 10rem 0;
  position: relative;
}
.menu__header__wrap {
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  text-align: center;
}
.menu__boast {
  text-align: center;
  vertical-align: middle;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  display: block;
  font-family: 'Playball';
  color: $primary;
}
.menu__title {
  font-size: 4rem;
  font-weight: bolder;
  color: $secondary;
}
.menu__row {
  margin-top: 2rem;
}

.underline {
  width: 5rem;
  height: 0.3rem;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  position: relative;
  background-color: $secondary;
}

.menu__item {
  padding: 3rem;
}

.menu__item__top {
  display: flex;
  border-bottom: 1.5px dotted #959595;
  justify-content: space-between;
  color: $secondary;
}

.menu__item__bottom {
  padding-top: 10px;
}

.menu__item__name {
  font-size: 2rem;
  text-transform: uppercase;
  color: $secondary;
}

.menu__item__desc {
  color: #959595;
  text-transform: capitalize;
  margin: 0;
  font-size: 1.2rem;
  font-weight: 500;
}

.menu__item__price {
  font-size: 2rem;
}
