@mixin respond($breakpoint) {
  @if $breakpoint == desktop {
    @media only screen and (max-width: 1800px) {
      @content;
    } //1800px
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 1200px) {
      @content;
    } //900px
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 900px) {
      @content;
    } //1200px
  }
  @if $breakpoint == phone {
    @media only screen and (max-width: 600px) {
      @content;
    } //1800
  }
}
