/* Color Theme Swatches in Hex */
$red: rgba(242, 60, 80, 1);
$yellow: rgba(255, 203, 5, 1);
$beige: rgba(233, 255, 223, 1);
$lightblue: rgba(74, 217, 217, 1);
$darkblue: rgba(54, 177, 191, 1);

$primary: $red;
$secondary: white;
