@import "variables";

.welcome__section {
  width: 100%;
  padding-top: 10rem;
  .welcome__section__left {
    float: left;
    width: 50%;
    height: 100%;
    padding: 0 2.5rem 0 0;

    @media only screen and (max-width: 1000px) {
      width: 100%;
      padding-bottom: 10rem;
    }

    h2 {
      text-align: center;
      font-size: 2.8rem;
      font-weight: 700;
      color: $red;
      line-height: 2;
      margin-top: 0;
    }

    p {
      font-size: 1.8rem;
      line-height: 1.9;
    }

    .icon__wrap {
      display: flex;
      justify-content: center;
      margin-top: 2rem;

      img {
        width: 13px;
        height: 16px;
      }
    }
  }

  .welcome__section__right {
    float: right;
    width: 50%;
    height: 100%;
    padding: 0 0 0 2.5rem;

    @media only screen and (max-width: 1000px) {
      width: 100%;
      padding: 0;
    }
    img {
      width: 100%;
    }
  }
}
